.offer {
    max-width: 650px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.offer span {
    color: black;
}

.offer h4 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.01em;
    color: #000000;
    margin-bottom: 24px;
}

.offer p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    height: 100%;
    text-align: justify;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 2rem;
}

.learnMoreButton button {
    background: white;
    color: black;
    z-index: 999;
}

.offer {
    max-width: 500px;
    width: 100%;
    display: flex;
    padding: 3rem 0;
    margin-bottom: 0;
}

.offer h1 {
    margin-bottom: 1rem;
}

.offerImg img {
    max-width: 500px;
    width: 100%;
    height: auto;
}

.offerMobile {
    display: none;
}

.smallOfferRhs {
    display: none;
}

.offerRhs, .offerLhs {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 4rem;
    margin: 4rem auto;
    align-items: center;
    justify-content: center;
}

.offerRhs .offer {
    padding-left: 0;
    padding-right: 0;
}

.offerRhs .offerImg {
    text-align: right;
}

.offerContent div {
    float: right;
    padding-left: 0;
    padding-right: 0;
}

@media screen and (min-width: 1600px) {
    .offer {
        padding: 4rem 0;
    }
}

@media screen and (max-width: 1130px) {
    .offerMobile {
        display: inherit;
        align-items: center;
        max-width: 50%;
    }

    .offerMobile p {
        margin-top: 1rem;
        margin-bottom: 2rem;
        text-align: justify;
    }

    .offerMobile h1, .offerMobile p {
        color: white;
    }

    .offerLhs {
        display: none;
    }

    .smallOfferRhs {
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 1rem;
        margin: 4rem auto;
        align-items: center;
        justify-content: center;
    }

    .smallOfferRhs img {
        max-width: 500px;
        width: 100%;
        height: auto;
    }

    .smallOfferRhs .offerImg {
        text-align: right;
    }

    .offerRhs {
        column-gap: 1rem;
        margin: 4rem auto 0;
    }

    .offerRhs .offer, .smallOfferRhs .offer {
        padding: 3rem 0;
    }
}

@media screen and (max-width: 950px) {
    .offerRhs, .smallOfferRhs {
        display: flex;
        flex-direction: column;
    }

    .offerMobile {
        max-width: 75%;
    }

    .offerImg {
        display: flex;
        width: 100%;
    }

    .offerImg img {
        margin: auto;
    }

    .offer {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 600px) {
    .offerMobile {
        max-width: 100%;
    }

    .offerRhs, .smallOfferRhs {
        margin: 0 auto;
    }
}

@media screen and (max-width: 300px) {
    .offerMobile h1 {
        font-size: 36px;
    }
}

