.homeNav svg {
  color: white !important;
}

.homeNav p {
  color: white;
  z-index: 999;
}

.homeNav button {
  z-index: 999;
}

.homeImg {
  background-position: center;
  height: 100vh;
}

.form {
  background: var(--color-bg-secondary);
  width: 92%;
  display: grid;
  grid-template-columns: 50% 50%;
  flex-wrap: wrap;
  margin: 0 0 2rem auto;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  box-shadow: -4px 16px 12px 0 rgba(0, 0, 0, 0.3);
}

.formContainer {
  overflow-x: hidden;
  height: fit-content;
}

.form p {
  max-width: 950px;
  font-size: 28px;
  line-height: 50px;
  color: rgba(0, 0, 0, 0.8);
  margin-right: 25px;
}

.cyrilWebsite__formText {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.galleryContainer {
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .form {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
  }
}

@media screen and (max-width: 745px) {
  .form {
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 360px) {
  .galleryContainer {
    padding-top: 0;
    padding-bottom: 0;
  }
}
